/*.login-container {
    max-width: 1000px;
    background-color: #fffaf5;
}

    .login-container h3 {
        background-color: #c62828;
        color: white;
        padding: 10px;
        border-radius: 6px;
    }

.form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
}

.btn-danger {
    background-color: #c62828;
    border: none;
    font-weight: bold;
}

    .btn-danger:hover {
        background-color: #a61b1b;
    }

a {
    color: #c62828;
    text-decoration: none;
}
.login-container {
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
}

.btn-danger {
    background-color: #d32f2f;
    border: none;
    font-weight: 600;
}

    .btn-danger:hover {
        background-color: #b71c1c;
    }
*/